
@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["msg"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table id="trackingTable" class="table table-bordered table-hover">
    <thead class="table-warning">
        <tr>
            <th>Shipment Id</th>
            <th>Tracking Id</th>
            <th>Booking Date</th>
            <th>Delivery Date</th>
            <th>Status </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5">No Data Found</td></tr>
        }
        else
        {
            foreach (var tracking in Model)
            {
    <tr>
        <td>@tracking.ShipmnetId</td>
        <td><a href="/Shipment/GetTrackingDetails?tno=@tracking.TrackingId">@tracking.TrackingId</a></td>
        <td>@tracking.BookingDate</td>
        <td>@tracking.DeliveryDate.ToString("yyyy-MM-dd")</td>
        <td>@tracking.Status</td>
        <td>
            <button class="btn btn-primary edit-button" data-id="@tracking.Id">Edit</button>
        </td>
    </tr>

            }
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#trackingTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csv',
                    className: 'btn btn-primary',
                    text: '<i class="fas fa-file-csv"></i> CSV'
                },
                {
                    extend: 'excel',
                    className: 'btn btn-success',
                    text: '<i class="fas fa-file-excel"></i> Excel'
                },
                {
                    extend: 'pdf',
                    className: 'btn btn-danger',
                    text: '<i class="fas fa-file-pdf"></i> PDF'
                }
            ],
            paging: true, // Enable pagination
            searching: true, // Enable search
            searchCols: [
                null, null, null, null, null, null // Set searchCols value to -1 for each column
            ],
            "language": {
                searchPlaceholder: "Search by any field...",
                "paginate": {
                    "previous": "&laquo;",
                    "next": "&raquo;"
                }
            }
        });

    });

    $(document).ready(function () {
        // Edit button click event
        $('.edit-button').click(function () {
            var trackingId = $(this).data('id');
            
            // Create a SweetAlert popup with form inputs
            Swal.fire({
                title: 'Update Status',
                html:
                    '<div class="form-group">' +
                    '   <label for="deliveryDateInput">Delivery Date:</label>' +
                    '   <input id="deliveryDateInput" class="form-control" type="date" min="' + getCurrentDate() + '">' +
                    '</div>' +
                    '<div class="form-group">' +
                    '   <label for="statusSelect">Status:</label>' +
                    '   <select id="statusSelect" class="form-control">' +
                    '       <option value="Pending action">Pending action</option>' +
                    '       <option value="In shipment">In shipment</option>' +
                    '       <option value="In destination">In destination</option>' +
                    '       <option value="Delivered">Delivered</option>' +
                    '   </select>' +
                    '</div>',
                focusConfirm: false,
                confirmButtonText: 'Update',
                preConfirm: function () {
                    return new Promise(function (resolve) {
                        var deliveryDate = $('#deliveryDateInput').val();
                        var status = $('#statusSelect').val();
                        
                            $.ajax({
                                url: '/shipment/UpdateTracking',  // Replace with the actual endpoint URL
                                type: 'POST',
                                data: {
                                    trackId: trackingId,
                                    deliveryDate: deliveryDate,
                                    status: status
                                },
                                success: function (response) {
                                    //check and fire alert
                                    if (response.success) {
                                        Swal.fire({
                                            title: 'Success!',
                                            text: response.message,
                                            icon: 'success',
                                            confirmButtonText: 'OK'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                location.reload();
                                            }
                                        });
                                    }
                                    else {
                                        Swal.fire({
                                            title: 'Error!',
                                            text: response.message,
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });
                                    }
                                },
                                error: function (error) {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: error.message,
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            });

                    });
                }
            });
        });
    });
    function getCurrentDate() {
        var date = new Date();
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        return year + '-' + month + '-' + day;
    }

</script>

